<div id="header">
  <a id="logo" href="<%- url_for("/") %>">
    <img src="<%- url_for("/images/logo.png") %>">
    <span>Vue Native</span>
  </a>
  <ul id="nav">
    <%- partial('partials/main_menu', { context: 'nav' }) %>
  </ul>
   <div class="hire-us">
    <a href="https://vue-native.io/market/?utm_source=vue-native&utm_medium=header&utm_campaign=vue-native" target="_blank" class="market"><img src="<%- url_for("/images/logo.png ") %>"><span>Themes</span></a> 

    <a href="https://geekyants.com/hire" target="_blank"><img src="<%- url_for("/images/logo_new.png ") %>"><span>Hire Us</span></a>    <a href="http://slack.vue-native.io/" target="_blank" class="slack"><img src="<%- url_for("/images/slack_icon.png ") %>"><span>SLACK</span></a>


 </div>


</div>

